.default-wrap {
  height: 100%;
  width: 100%;
}

header {
  font-size: large;
}

h3 {
  height: 5%;
  width: 100%;
}



.global-wrap {
  height: 500px;
  width: 500px;
}

.app-wrap {
  height: 250px;
  width: 250px;
}

.app-img1 {
  height: 80%;
  width: 80%;
}

.app-img2 {
  height: 30%;
  width: 150%;
}
